body {
    background-color: #3e0f15;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
    zoom: 0.8; 
}

header {
    background-color: #2b080d;
    color: white;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.logo img {
    height: 60px; 
    margin-right: 12px;
}

.logo h1 {
    margin: 0;
    color: white;
    font-size: 22px; 
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px; 
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 22px; 
}

.intro-page .main-content {
    text-align: left;
    padding: 50px 0;
    margin: 0;
    width: 100%;
}

.intro-page .text-content {
    margin-left: 30px;
}

.intro-page .text-content h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #FFA500;
}

.intro-page .text-content p {
    color: white;
    font-size: 21px;
    max-width: 660px;
    margin: 0;
    line-height: 1.7;
}

.intro-page .img-principal{
    width: 400px;
    position: relative;
    top: -400px;
    left: 1000px;
    overflow: hidden;
    display: flex;
    border-radius: 35px;
    transition: transform 0.3s ease-in-out;
}

.obje-page .main-content {
    display: flex;
    flex-direction: row-reverse; 
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 100%;
}

.obje-page .text-content {
    width: 45%;  
    margin-left: 30px;
    color: white;
    margin-right: 20px;
}

.obje-page .text-content h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #FFA500;
}

.obje-page .text-content p {
    color: white;
    font-size: 21px;
    max-width: 660px;
    margin: 0;
    line-height: 1.7;
}

